.cabecalho-geral
{
    background-image: url(https://services.meteored.com/img/article/nao-e-o-que-voce-pensa-qual-e-o-maior-buraco-negro-encontrado-no-universo-1698618767119_1024.png);
    padding: 8px;
    image-resolution: 10px;

}
.titulo-cabecalho
{ 
    
    color: rgb(159, 0, 252); 
    font-size: 60px; 
    font-family: 
    display: flex;
    justify-content: space-around;
}
.lista-secao
{
    padding: 10px;
    font-size: 20px;
}
.tit-1-secao
{
    color: blueviolet;
    font-size: 40px; 
    font-family: fantasy;
}
.tit-2-secao
{
    color: blueviolet; 
    font-size: 40px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
     Geneva, Verdana, sans-serif;
}
.p-tit-1
{ 
    font-size: 20px; color: rgb(255, 255, 255);
}
.p-tit-2
{ 
    font-size: 20px; 
    color: rgb(255, 255, 255); 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
     'Lucida Sans', Arial, sans-serif;
}
.item-1
{ 
    color: white;
}
.item-2
{
    color: white;
}
.item-3
{
    color: white;
}
.item-4
{
    color: white;
}
.item-5
{
    color: rgb(153, 70, 2);
}
.secao
{
    background-color: rgb(70, 70, 70);
}
.rodape
{
    background-color: black;
    padding: 5px;
    color: white;
    font-size: 12px;
}
