@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
:root {
    --fonte_titulo:"Dancing Script", cursive
    --cor-de-fundo: #b0e0e6;
    --branco: #12b0b8;
    --laranja: #6ecfcf;
    --azul-degrade: linear-gradient(97.54deg, #7fffd4 35.49%, #7fffd4 165.37%);
    --fonte-principal: "Poppins";
    --azul: #7ba6c7;
    --cor-texto: #c7e2ed;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}


 @font-face {
     font-family: "Poetsen One", sans-serif;
     src: url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
}

@font-face {
    font-family: "Dancing Script", cursive;
    src: url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
  }

  .sorvete-coco{ image-rendering: auto;

  }